<!DOCTYPE html>
<html>
<head>
	<title>Text Anonymizer</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
	<div class="container">
		<div class="form">
			<form action="/" method="POST" class="box">
				<h1>Text Anonymizer</h1>
		    	<input type="text" name="name" placeholder="Enter text to anonymize">
		    	<input type="submit" name="submit" value="Anonymize">
			</form>
		</div>
	</div>
<div class="rectangle1"></div>
<div class="rectangle2"></div>
</body> 
</html>